[submodule "vim/pack/themes/start/nord-vim"]
	path = vim/pack/themes/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "colors/iterm"]
	path = colors/iterm
	url = git@github.com:arcticicestudio/nord-iterm2.git
