[submodule "vim/pack/themes/start/nord-vim"]
	path = vim/pack/themes/start/nord-vim
  url = https://github.com/nordtheme/vim.git
[submodule "vim/pack/downloads/opt/vimcomplete"]
	path = vim/pack/downloads/opt/vimcomplete
	url = https://github.com/girishji/vimcomplete.git
[submodule "vim/pack/themes/start/vim-colors-xcode"]
	path = vim/pack/themes/start/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode.git
